$font-family: (
  R: Ubuntu,
);

$font-size: (
  XS: 12px,
  S: 16px,
  M: 20px,
  L: 24px,
  XL: 32px,
);

$line-height: (
  XS: 18px,
  S: 24px,
  M: 34px,
  L: 36px,
  XL: 40px,
);

$font-weight: (
  R: 400,
  M: 500,
  SB: 600,
  B: 700,
);
